# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Deploy Jekyll site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  # cancel-in-progress: false
  cancel-in-progress: true     # S.H.Lee - 2026.02.24


jobs:
# Build & Deploy Job - from dunkmann00 - S.H.Lee - 2026.02.24
  gh_pages:
    name: Build & Deploy Github Pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.gh_pages.outputs.page_url }}
    steps:
     # - name: Setup GutHub Cache
     #   uses: actions/cache@v4
     #    with:
     #      path: vendor/bundle
     #      key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
     #      restore-keys: |
     #        ${{ runner.os }}-gems-
     - name: Setup Ruby
       # https://github.com/ruby/setup-ruby/releases/tag/v1.207.0
       # uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4
       with:
       # ruby-version: '3.1' # Not needed with a .ruby-version file
       ruby-version: '3.3.6' # S.H.Lee - 2026.02.23 
       bundler-cache: true # runs 'bundle install' and caches installed gems automatically
       # cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build & Deploy
        id: gh_pages
        uses: seunghw-lee/jekyll-v4p4p1-gh-pages@v1.5
 

  